.vscode/

# ./solutions/cpp-solutions/
solutions/cpp-solutions/build/

# ./solutions/c-solutions/
solutions/c-solutions/build/

# ./solutions/CSharpSolutions/
solutions/CSharpSolutions/CSharpSolutions/obj/
solutions/CSharpSolutions/CSharpSolutions/bin/
solutions/CSharpSolutions/CSharpSolutions.Tests/obj/
solutions/CSharpSolutions/CSharpSolutions.Tests/bin/

# ./solutions/java-solutions/
solutions/java-solutions/target

# ./solutions/javascript-solutions/
solutions/javascript-solutions/node_modules/

# ./solutions/typescript-solutions/
solutions/typescript-solutions/node_modules/
solutions/typescript-solutions/dist/

# ./solutions/python3_solutions/
solutions/python3_solutions/**/__pycache__/

# ./solutions/rust-solutions/
solutions/rust-solutions/target/
